parameters:
    level: 5
    phpVersion: 80300
    paths:
        - app
        - bin
        - public
    tmpDir: .phpstan-cache
    excludePaths:
        analyse:
            - public/deployment-path.php
